body {
    background-color: #fff8f0;
    width: 100vw;
    margin: 35vh auto;
    transform: translateY(-35%);
}

a {
    text-decoration: none;
}

section {
    text-align: center;
}

.btn {
    display: inline-block;
    text-align: center;
}

.clear {
    height: 9vw;
    line-height: 50px;
    text-align: center;
}

.clear p {
    font-size: 40px;
    line-height: 10px;
    margin: 0;
    vertical-align: middle;
}

.btn p {
    font-size: 44px;
    margin: 0;
}

a p {
    color: white;
    margin: 0;
    vertical-align: middle;
}

.command {
    height: 9vw;
    line-height: 9vw;
}

.tweet {
    margin-top: 8vw;
    background-color: #0000ff;
    width: 60%;
    height: 9vw;
    line-height: 9vw;
    border: 3px #000 solid;
}

.end {
    margin-top: 2vw;
    background-color: #00ff00;
    width: 60%;
    height: 9vw;
    line-height: 9vw;
    border: 3px #000 solid;
}