body {
    background-color: #fff8f0;
    width: 100vw;
    margin: 30vh auto;
    transform: translateY(-30%);
}

a {
    text-decoration: none;
}

section {
    text-align: center;
}

.btn {
    display: inline-block;
    text-align: center;
}

.clear {
    margin: 30px;
    height: 9vw;
    line-height: 9vw;
    text-align: center;
}

.clear p {
    font-size: 40px;
    line-height: 55px;
    padding-top: 10px;
    margin: 0;
    vertical-align: middle;
}

.btn {
    margin-top: 2vw;
}

.btn p {
    font-size: 44px;
    margin: 0;
}

a p {
    color: white;
    margin: 0;
    vertical-align: middle;
}

.command {
    height: 9vw;
    line-height: 9vw;
}

.tweet {
    background-color: #0000ff;
    display: inline-block;
    width: 30vw;
    height: 9vw;
    line-height: 9vw;
    padding: 1vw 1.8vw 1vw 1.8vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
    border: 3px #000 solid;
}

.end {
    background-color: #00ff00;
    width: 40vw;
    height: 14vw;
    line-height: 14vw;
    border: 3px #000 solid;
}
